<section>
<center>
  <nav class="nav">
    <ul style="padding: 0; list-style: none;">
      <li class="nav-item">
        <a href="{{ site.url }}/">Home</a> &nbsp
	      <a href="{{ site.url }}/archive">Archive</a> &nbsp
      	<a href="{{ site.url }}/topics">Topics</a> &nbsp
	      <a href="https://lawrencewang.myportfolio.com">Portfolio</a> &nbsp
	      <a href="https://www.rencewang.com">About</a>
      	<!--<a href="{{ site.url }}/about">About</a>/-->
      </li>
    </ul>
  </nav>
</center>
</section>
