@import url("https://use.typekit.net/xbv3jvp.css");

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  width: 100%;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
  font-family: "Helvetica Neue", "Helvetica", "Franklin Gothic", "Arial", sans-serif;
	font-weight: 500;
  color: #000;
  background-color: #f8f8f8;
  padding: 20px;
  padding-top: 90px;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  @media (min-width: 992px) {
    padding: 35px 50px;
  }
}

/* Font Settings */
h1 {
  font-family: franklin-gothic-urw, sans-serif;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  font-size: 3rem;
  color: #000;
  text-align: left;
}
@media (max-width : 500px) {
  h1 {
    font-size: 2rem;
    font-weight: 500;
  }
}
h2 {
  margin-top: 1rem;
  font-size: 1.5rem;
}
h3 {
  font-family: franklin-gothic-urw, sans-serif;
  font-weight: 300;
  font-style: normal;
  margin-top: 1.5rem;
  font-size: 1.25rem;
  color: #000;
}
h4,
h5 {
  font-family: franklin-gothic-urw, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #000;
}
h6 {
    margin-top: 1.1rem;
    font-size: 1.1rem;
    margin-bottom: 1rem;
    line-height: 1.25;
    color: #000;
}
img {
  max-width: 100%;
}

/* For Links */
a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid #555;
  &.image {
    display: block;
    text-align: center;
    border: 0;
    border-radius: 5px;
    margin: 30px 0;
  }
}
a.nounderline {
      text-decoration: none!important;
      &:hover {
        color: #999;
        //border: 1px solid rgb(231, 189, 116);
        transition: .5s;
      }
}
mark {
  //background: #e7bd74;
  background: #aaa;
  padding: 0 5px;
}
blockquote {
  border-left: 5px solid #ccc;
  margin: 40px 0;
  padding: 5px 30px;
  background: #d9d9d9;
}

.logo {
  text-align: center;
  a {
    background: #f8f8f8;
    color: #f8f8f8;
    text-decoration: none;
    font-weight: 700;
    width: 300px;
    font-size: 1.5em;
    border-radius: 100%;
    display: inline-block;
    text-align: center;
    border: 5px solid #f8f8f8;
    box-sizing: border-box;
    &:focus {
      background: #f8f8f8;
    }
    &:hover + .logo-prompt,
    &:focus + .logo-prompt {
      display: inline-block !important;
    }
    @media (max-width : 480px) {
      &:hover + .logo-prompt,
      &:focus + .logo-prompt {
        display: none !important;
      }
    }
  }
}
iframe {
  margin: 45px 0 !important;
}

/* For Lists */
ul {
  li {
      margin: 25px 0;
      a {
        text-decoration: none;
        border: 0;
        color: #000;
        box-sizing: border-box;
      }
      a.nounderline {
        text-decoration: none!important;
        &:hover {
          color: #999;
          //border: 1px solid rgb(231, 189, 116);
          transition: .5s;
        }
      }
      @media (min-width: 992px) {
        a {
          border-bottom: 2px solid transparent;
        }
      }
    }
}
ol {
  margin: 40px 0;
  padding-left: 50px;
  li {
    word-wrap: break-word;
  }
  img {
    margin: 40px 0;
    border-radius: 5px;
  }
}
sup {
  vertical-align: top;
  position: relative;
  top: -0.5em;
  margin-left: 1px;
}
time {
  color: #262626;
}
code,
pre,
.code-year, .code, .footnotes {
  font-family: Consolas, monospace;
}
code {
  color: #e7bd74;
  background: #777;
  padding: 2px 6px;
  font-size: 13px;
}
pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 0.8rem;
  line-height: 1.4;
  white-space: pre;
  overflow-x: auto;
  background-color: #707070;
  border: 1px solid #888;
  padding: 1rem;
  code {
    font-size: 100%;
    color: inherit;
    background-color: transparent;
    padding: 0;
  }
}
table {
  width: 100%;
  table-layout: fixed;
  margin: 45px 0;
  thead {
    background: #777;
  }
  th {
    text-align: left;
    padding: 8px 10px;
    border-bottom: 15px solid #909090;
  }
  td {
    padding: 4px 0;
  }
}
iframe {
  width: 100%;
}

article {
  max-width: 500px;
  margin: 0 auto 50px auto;
  h1.title {
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 700;
    font-style: normal;
    line-height: 1.4em;
    text-align: center;
    text-transform: capitalize;
    font-size: 3em;
    color: #1a1a1a;
  }
  .divider {
    background: #000;
    background: -webkit-gradient(linear,left top,right top,from(rgba(221,221,221,0)),color-stop(#0d0d0d),to(rgba(221,221,221,0)));
    background: -webkit-linear-gradient(left,rgba(221,221,221,0),#ccc,rgba(221,221,221,0));
    background: linear-gradient(to right,rgba(221,221,221,0),#ccc,rgba(221,221,221,0));
    height: 1px;
    margin: 2em 0;
  }
  .center {
    text-align: center;
    margin: 0 auto;
  }
  hr {
    border: 0;
    border-bottom: 1px solid #999;
    margin: 30px 0;
  }
  p {
    font-size: 15px;
    line-height: 1.9em;
    word-wrap: break-word;
  }
  .footnote {
    border: 0;
    background-color: #f8f8f8;
    color: #fff;
    padding-left: 2px;
    padding-right: 2px;
  }
  .footnotes {
    margin: 50px auto;
    display: block;
    font-size: 0.8em;
    color: #777;
    p {
      line-height: 1rem;
      font-weight: normal;
    }
    ol {
      margin: 0;
      padding-left: 15px;
      li {
        font-weight: bold;
      }
    }
    .reversefootnote {
      border: 0;
      color: #e7bd74;
    }
  }
  a:hover {
    /*color: #555;*/
    color: #f47b3e;
    border-color: #555;
  }
}
.back {
  text-align: center;
  a {
    text-decoration: none;
    margin: 40px auto 0;
    display: inline-block;
    padding: 10px;
    border: 0;
    &:before {
      content: "<<";
      margin-right: 5px;
      color: #fff;
    }
  }
}
.block {
  display: block;
}
.nav {
  font-family: "nimbus-sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.page-navigation,
.footer {
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
  font-size: 0.8rem;
}
.page-navigation {
  margin: 50px auto 50px auto;
  a {
    display: inline-block;
    text-decoration: none;
    border-bottom: none;
  }
  span {
    display: inline-block;
  }
}
.footer {
  margin-top: 50px;
  color: #777;
  a {
    border: none;
    font-weight: bold;
  }
}

section {
  max-width: 500px;
  margin: 0 auto 50px auto;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      margin: 25px 0;
      .title {
        max-width: 100%;
        word-wrap: normal !important;
      }
      a {
        text-decoration: none;
        border: 0;
        color: #404040;
        box-sizing: border-box;
      }
      .post-date {
        float: right;
        margin: 0 0 0 20px;
      }
      span {
        display: inline-block;
        color: #757575;
        letter-spacing: 1px;
        text-transform: uppercase;
      }
      @media (min-width: 992px) {
        a {
          border-bottom: 2px solid transparent;
          &:hover {
            border-color: #000;
          }
        }
      }
    }
  }
}

/* For Home Page Display */
#blog {
  padding-bottom: 10%;
}
.threecolumns {
	float: right;
	width: 50%;
	font-family: "whitman-display", serif;
	font-weight: 500;
	font-style: italic;
	font-size: 15px;
}
.threecolumns h2 {
	font-family: franklin-gothic-urw, "Helvetica Neue", "Helvetica", "Franklin Gothic", "Arial", sans-serif;
		font-weight: 700;
		font-style: normal;
	}
.blogpost {
	margin-top: 0;
	margin-left: 0;
	margin-right: auto;
	margin-left: auto;
  padding-bottom: 10px;
	width: 90%;
  text-align: justify;
}
.blogpost quoteblock {
	font-family: "whitman-display", serif;
	font-weight: 500;
	font-style: italic;
	font-size: 1em;
	text-align: justify;
	quotes: "“""”""‘""’";
}
.blogpost quoteblock:before {
    content: "\201C";
    font-size: 3.5em;
    position: relative;
    display: inline;
    top: 20px;
    left: -3px;
    color: #595959;
	}
@media only screen and (max-width: 700px) {
  .threecolumns {
    width: 100%;
  }
  #blog {
    width: 70%;
    margin: 0 auto;
  }
}
a.glowlink {
    border: 0;
    text-decoration: none;
}
.glowlink h2 {
    text-decoration: none;
    color: #595959;
		/*font-family: franklin-gothic-urw, sans-serif;*/
		font-family:  "Helvetica Neue", "Helvetica", "Franklin Gothic", "Arial", sans-serif;
			font-weight: 500;
			font-style: normal;
		text-transform: uppercase;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}
.glowlink:hover h2 {
    color: #fff;
    text-shadow: 0 0 15px #000;
}

@keyframes bounce {0% {
    transform: translate3d( 0, -1000px, 0 );
  }
  60% {
    transform: translate3d( 0, 25px, 0 );
  }
  75% {
    transform: translate3d( 0, -10px, 0 );
  }
  90% {
    transform: translate3d( 0, 5px, 0 );
  }
  100% {
    transform: none;
  }
}
@-webkit-keyframes bounce {0% {
    -webkit-transform: translate3d( 0, -1000px, 0 );
  }
  60% {
    -webkit-transform: translate3d( 0, 25px, 0 );
  }
  75% {
    -webkit-transform: translate3d( 0, -10px, 0 );
  }
  90% {
    -webkit-transform: translate3d( 0, 5px, 0 );
  }
  100% {
    -webkit-transform: none;
  }
}
