---
layout: default
title:  Topics
permalink: /topics/
---
<head>
  <style>
    .stretch_it{
      white-space: nowrap;
      text-transform: uppercase;
    }
    .justify{
      text-align:justify;
    }
  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script>
    $.fn.strech_text = function() {
      var elmt          = $(this),
          cont_width    = elmt.width(),
          txt           = elmt.html(),
          one_line      = $('<span class="stretch_it">' + txt + '</span>'),
          nb_char       = elmt.text().length,
          spacing       = cont_width/nb_char,
          txt_width;
      elmt.html(one_line);
      txt_width = one_line.width();
      if (txt_width < cont_width) {
          var  char_width     = txt_width/nb_char,
               ltr_spacing    = spacing - char_width + (spacing - char_width)/nb_char ;
          one_line.css({'letter-spacing': ltr_spacing});
      }
      else {
          one_line.contents().unwrap();
          elmt.addClass('justify');
      }
    };
    $(document).ready(function () {
        $('.stretch').each(function(){
            $(this).strech_text();
        });
    });
    /*if (document.readyState == 'complete')
      doOnLoad();
    $(window).bind("load", doOnLoad);*/
  </script>
</head>

<section>
  <div class="tag-list">
    {% for cat in site.categories %}
      <div class="tag-group">
        {% capture cat_name %}{{ cat | first }}{% endcapture %}
        <h1 class="stretch" id="{{ cat_name | slugize }}">{{ cat_name }}</h1>
          {% for post in site.categories[cat_name] %}
		<!--
	    <article class="tag-item">
	      <a class="tag-item-title" href="{{ site.url }}{{ post.url }}">{{post.title}}</a>
	    </article>
		/-->
		<ul>
			<li>
				<div class="post-date code">
					<span>{{ post.date | date: "%b %d %Y" }}</span>
				</div>
				<div class="title">
					<a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">{{ post.title }}</a>
				</div>
			</li>
		</ul>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
</section>
